.acerca{
    background-color: #e6ebed;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.acercaNoche{
    background-color: #2B3781;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.imagenPerfil{
    border-radius: 50%;
    border: .25em solid white;
    max-width: 15em;
    rotate: 15deg;
}

.textoAcerca{
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    line-height: 21px;
}

.tituloAcerca{
    text-align: left;
    color: #111155;
    font-size: 1.75em;
    font-weight: 600;
}

.tituloAcercaNoche{
    text-align: left;
    color: #3e3ec5;
    font-size: 1.75em;
    font-weight: 600;
}

.subtitulo{
    font-weight: 600;
    font-size: 20px;
}
