.nombreTitular{
    color: #111155;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

.ocupacionTitular{
    font-weight: 600;
    font-size: 36px;
    width: 100%;
    line-height: 35px;
}

.divTitular{
    margin-bottom: 3em;
    margin-left: 0.25em;
}