body {
    max-width: 210cm;
}

.titulo{
    text-transform: uppercase;
    color: #111155;
    font-weight: 800;
    font-size: 28px;
    background-color: #a2b5dd;
    height: 50px;
    width: 100%;
    padding-left: 0.25em;
}