body {
    max-width: 210cm;
    opacity: 0;
    animation: aparition 2s forwards;
}

@keyframes aparition {
  to{
    opacity: 1;
  }
  
}

.titulo{
    text-transform: uppercase;
    color: #111155;
    font-weight: 800;
    font-size: 28px;
    background-color: #a2b5dd;
    height: 50px;
    width: 100%;
    padding-left: .5em;
}

@media only screen and (min-width: 767px) {
    .hiddenSmall {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .hiddenBig {
      display: none;
    }
  }

.footer{
  background-color: #111155;
}

.noche{
  background-color: black;
  color: #8E9CF1;
  box-shadow: 0px 0px 21px 29px rgba(0,0,0,0.51);
-webkit-box-shadow: 0px 0px 21px 29px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 21px 29px rgba(0,0,0,0.51);
}