body {
    max-width: 210cm;
}

.titulo{
    text-transform: uppercase;
    color: #111155;
    font-weight: 800;
    font-size: 28px;
    background-color: #a2b5dd;
    height: 50px;
    width: 100%;
    padding-left: .5em;
}

@media only screen and (min-width: 767px) {
    .hiddenSmall {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .hiddenBig {
      display: none;
    }
  }

.footer{
  background-color: #111155;
}
